.header.container-fluid.sticky-top {
  background-color: orange;
}
.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.navbar-collapse {
  background-image: url('../../assets/img/Mask\ group.png');
}

.collapse.navbar-collapse {
  display: flex;
  flex: auto;
  flex-direction: row-reverse;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: orange;
  text-decoration: none;
  color: #555;
}
