<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link to use the Fontawesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-collapse">
    <div class="container container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/img/alterna_savings_logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/portal">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Our story</h1>
          <p class="lead text-muted mb-0">AlternaSavings was founded in 2023 with the vision to create a savings culture among the youth. The idea stemmed from the realization that there was a lack of effective platforms to encourage saving habits and investment options for young people. Our team recognized the importance of developing innovative tools that would make saving and investing more accessible and engaging for the younger generation.</p>
          <p class="lead text-muted mb-0">With this in mind, we set out to create a solution that would not only make it easier for users to save but also offer exciting saving challenges and investment options. Our app provides a fun and social way for users to engage in saving, and joint challenges allow users to involve friends and family, creating a supportive community for achieving financial goals.
          </p>
          <p class="lead text-muted mb-0">Our passion for promoting a culture of saving continues to drive us, and we are dedicated to empowering the next generation to achieve financial security and freedom.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="../../assets/img/miles-burke-6jegMsYM6CY-unsplash.jpg" alt="" class="img-fluid w-100"></div>
      </div>
    </div>
  </div>
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-warning"></i>
          <h2 class="font-weight-light">Vision and Mission</h2>
          <p class="font-italic text-muted mb-4">Our vision at AlternaSavings is to become the go-to platform for the youth seeking to build a savings habit, improve their financial literacy, and invest in their future, all while having fun and connecting with their friends and family.</p>
          <p class="font-italic text-muted mb-4">Our mission at AlternaSavings is to empower and encourage the youth to develop a strong savings culture and make smart investment decisions. We aim to achieve this by providing innovative and engaging saving challenges and investment options that are accessible to everyone, while fostering a sense of community and support.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm text-warning">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../assets/img/micheile-henderson-ZVprbBmT8QA-unsplash.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="../../assets/img/josh-appel-NeTPASr-bmQ-unsplash.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-warning"></i>
          <h2 class="font-weight-light">Values</h2>
          <p class="font-italic text-muted mb-4">At AlternaSavings, we believe that saving should be a part of everyone's daily routine. We are passionate about promoting a saving culture among the youth and empowering them to achieve their financial goals.</p>
          <p class="font-italic text-muted mb-4">Our values revolve around trust, simplicity, and inclusivity. We strive to build a platform that is user-friendly, transparent, and accessible to everyone, regardless of their financial background. We prioritize the security and privacy of our users' data and ensure that their information is protected at all times.</p>
          <p class="font-italic text-muted mb-4">We are committed to providing our users with a variety of saving challenges and investment options that cater to their unique needs and preferences. We believe that by working together, we can create a better financial future for ourselves and our loved ones.</p>
          <p class="font-italic text-muted mb-4">Join us at AlternaSavings and start your journey towards financial freedom today!</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm text-warning">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5 offset-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Meet our team members.</p>
        </div>
      </div>
      <div class="row text-center justify-content-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Natasha Gichuhi</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Samuel Njuki</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/home" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/feed/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Kalvin Oanda</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

    </div>
  </div>
</div>
<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights alternasavings.com All rights reserved.</p>
  </div>
</footer>
</body>
</html>
