.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.navbar-collapse {
  background-image: url('../../assets/img/Mask\ group.png');
}

.row {
  background-color: #F7931D;
  display: flex;
  text-align: center;
}




