<div class="mat-typography">
  <div class="wrapper">
    <div class="rectangle1"></div>

    <div class="bg-white">
      <div class="login_cards">
        <div class="logo">
          <img src="../../assets/img/alterna_savings_logo.png" />
        </div>
        <form #LoginForm="ngForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="phonenumber"></label>
            <input
              type="text"
              id="num"
              name="phoneNumber"
              [(ngModel)]="loginObj.phoneNumber"
              placeholder="Phone number"
              required
            />
          </div>
          <div class="form-group">
            <label for="mail"></label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="loginObj.email"
              placeholder="email"
              required
            />
          </div>
          <button type="submit" name="login" class="loginbtn" (click)="onLogin()">Login</button>
          <button type="button" name="register" class="registerbtn" (click)="onSignUp()">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
