<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>

  <body>
    <div class="row mt-5">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <button class="row card-body">
            <h1 class="col card-title">Retirement</h1>
            <div class=" col icon"><img alt="Retirement" src="https://portal.ndovu.co/uploads/assets/goal/icon/retirement.png" style="width: 5.5rem;"></div>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <button class="row card-body">
            <h1 class="col card-title">Housing or Land</h1>
            <div class="col icon"><img alt="Housing or Land" src="https://portal.ndovu.co/uploads/assets/goal/icon/housing.png" style="width: 5.5rem;"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <button class="row card-body">
            <h1 class="col card-title">Pay-off loan or debt</h1>
            <div class="col icon"><img alt="Pay Off Loan/Debts" src="https://portal.ndovu.co/uploads/assets/goal/icon/loans.png" style="width: 5.5rem;"></div>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <button class="row card-body">
            <h1 class="col card-title">Holiday</h1>
            <div class="col icon"><img alt="Car/Bike or holidays" src="https://portal.ndovu.co/uploads/assets/goal/icon/car_or_bike.png" style="width: 5.5rem;"></div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
