<div class="mat-typography">
  <div class="header"></div>
  <div class="body">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/img/alterna_savings_logo.png" class="alterna-Savings-logo" alt="alterna-logo">
        <div class="message">
          <div class="message-icon"></div>
          <div class="message-text">
            <p>Thank you for registering for online banking</p>
          </div>
          <div class="message-text2">
            <p>We've sent a confirmation email to <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">sammnjuki@gmail.com</a> </p>
          </div>
          <div class="message-text3">
            <p>Didn't receive the email? Check your spam inbox section</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/image 1.png" class="image1" alt="image1">
      </div>
    </div>
    </div>
  </div>
