@media all and (max-width: 600px) {
  
}
.container {
  position: absolute;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background: #F58F00;
}

.maskgroup {
  position: absolute;
  width: 1440px;
  height: 182px;
  left: 0;
  top: 40px;
  background: url('../../assets/img/Mask\ group.png');
  background-repeat: no-repeat;
  flex-direction: row;
  align-items: center;
  z-index: 0;
}

.alterna_savings_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 90px;
  width: 396.88px;
  height: 134px;
  mix-blend-mode: darken;
  border-radius: 0px 0px 8px 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 90px;
  gap: 4px;
  width: 1240px;
  height: 52px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frametext1 {
  color: #F58F00;
}

.frametext2 {
  color: #68737A;
}

.row {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px;

  width: 1240px;
  height: 436px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  position: absolute;
  top: calc(182px + 40px);
  left: 90px;
}

.col-1 {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  margin-top: 50px;
  gap: 0px;

  width: 310px;
  height: 225px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.col-2 {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  padding-top: 30px;
  gap: 30px;

  width: 930px;
  height: 336px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.pagenation2 {
  background: url('../../assets/img/Page_nation\ 2.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-top: 25px;
  gap: 10px;
  width: 310px;
  height: 55px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.menus {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin-top: 44px;
  gap: 8px;

  width: 310px;
  height: 100px;

  border: 1px dashed #FF9702;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2; /* change the order to 2 to position it below pagination */
  align-self: stretch;
  flex-grow: 0;
}

.personaldetails_link {
  color: #FF9702;
}

.Accountdetails_link {
  color: #68737A;
}

.Account-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  padding-top: 0px;
  gap: 0px;

  width: 830px;
  height: 336px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.col2_text {
  color: #F58F00;
  margin-left: 30px;
}

.Frame17 {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 830px;
  height: 266px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.inputtext {
  width: 802px;
  height: 24px;
  padding-left: 30px;

  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Gray/500 */

  color: #667085;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.Phonenumber {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;

  width: 600px;
  height: 44px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.confirm_Phonenumber {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;

  width: 600px;
  height: 44px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mail {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;

  width: 600px;
  height: 44px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.continuebtn {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 32px;
  margin-left: 0px;
  margin-top: 18px;
  gap: 10px;

  width: 148px;
  height: 44px;

  background: #4caf50;
  color: white;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.continuebtn:hover {
  background-color: #0e0f0f;

}

.footer {
  /* Footer */


/* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 64px;

  position: fixed;
  width: 1440px;
  height: 52px;
  left: 0px;
  bottom: 0px;

  background: #EBEBEB;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.footertext1 {
  width: 264px;
  height: 20px;

  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  color: #201F20;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
