<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/img/challenge.png" class="card-img-top" alt="challenge_png">
    <div class="row card-body">
      <h1 class=" col card-title">52-Week Savings Challenge</h1>
      <a href="#" class="btn btn-success" (click)="onSubscribe()">Subscribe</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/img/challenge.png" class="card-img-top" alt="challenge_png">
    <div class="row card-body">
      <h1 class="col card-title">26-Week Savings Challenge</h1>
      <a href="#" class="btn btn-success">Subscribe</a>
    </div>
  </div>
</body>
</html>
