.d-flex.page__box.p-3 {
  background: orange;
  box-sizing: border-box;
  border-radius: 8px;
}


.btn.goalsbtn.mt-4 {
  background: orchid;
}

.btn.Milestonesbtn.mt-4 {
  background: dodgerblue;
}

.btn.Portfoliobtn.mt-4 {
  background: coral;
}

.btn.Settingsbtn.mt-4 {
  background: sandybrown;
}

.row.mt-2.page__content.shadow.p-1.position-relative {
  background: lightgray;
  box-shadow: inset 0px -1px 0px #E6E7E8;
}

.Usertextcolor {
  color: purple;
}

.col-3.mt-2.mb-2.rounded-pill {
  background: orange;
  box-sizing: border-box;
  // border-radius: 10px;
}

.btn.rounded-pill {
  background: orchid;
}

.btn.rounded-pill.p-1 {
  background: dodgerblue;
}

.btn.rounded-pill.tracker {
  background: coral;
}

.btn.rounded-pill.budget {
  background: sandybrown;
}

.row.container-fluid.activity {
  background: lightgray;
}

.col-5.activity {
  box-sizing: border-box;
  border-radius: 8px;
}

.col-5.offset-2 {
  box-sizing: border-box;
  border-radius: 8px;
}

.report {
  background: lightgray;
}
